In [2]:
import pandas as pd
import numpy as np
import os

In [5]:
entry = pd.read_csv('./data/entry/2020/2020-05-05_entry.csv')
entry.head()

    등번호   이름  투타유형        생년월일           체격  구분 team
0  70.0  이동욱  우투우타  1974-07-17  179cm, 81kg  감독   NC
1  27.0  이호준  우투우타  1976-02-08  187cm, 95kg  코치   NC
2  74.0  한규식  우투우타  1976-09-14  176cm, 78kg  코치   NC
3  75.0  진종길  우투좌타  1981-09-23  178cm, 80kg  코치   NC
4  77.0  용덕한  우투우타  1981-04-09  176cm, 82kg  코치   NC

In [21]:
#라인업 확인
lineup = pd.read_csv('./game/2020-05-05/라이온즈파크_14/lineup_record.csv')
lineup

     타순               이름   포지션    투타 team
0   1.0   박민우_1993-02-06   2루수  우투좌타   NC
1   2.0   알테어_1991-01-14   중견수  우투우타   NC
2   3.0   나성범_1989-10-03  지명타자  좌투좌타   NC
3   4.0   양의지_1987-06-05    포수  우투우타   NC
4   5.0   박석민_1985-06-22   3루수  우투우타   NC
5   6.0   모창민_1985-05-08   1루수  우투우타   NC
6   7.0   노진혁_1989-07-15   유격수  우투좌타   NC
7   8.0   김성욱_1993-05-01   우익수  우투우타   NC
8   9.0   이명기_1987-12-26   좌익수  좌투좌타   NC
9   NaN  루친스키_1988-12-30    투수  우투우타   NC
10  1.0   김헌곤_1988-11-09   우익수  우투우타   삼성
11  2.0   구자욱_1993-02-12   좌익수  우투좌타   삼성
12  3.0  살라디노_1989-07-20   유격수  우투우타   삼성
13  4.0   이원석_1986-10-21   3루수  우투우타   삼성
14  5.0   김상수_1990-03-23   2루수  우투우타   삼성
15  6.0   김동엽_1990-07-24  지명타자  우투우타   삼성
16  7.0   강민호_1985-08-18    포수  우투우타   삼성
17  8.0   박해민_1990-02-24   중견수  우투좌타   삼성
18  9.0   이성규_1993-08-03   1루수  우투우타   삼성
19  NaN   백정현_1987-07-13    투수  좌투좌타   삼성

In [23]:
lineup_nc = lineup[lineup['team']=='NC']
lineup_nc

    타순               이름   포지션    투타 team
0  1.0   박민우_1993-02-06   2루수  우투좌타   NC
1  2.0   알테어_1991-01-14   중견수  우투우타   NC
2  3.0   나성범_1989-10-03  지명타자  좌투좌타   NC
3  4.0   양의지_1987-06-05    포수  우투우타   NC
4  5.0   박석민_1985-06-22   3루수  우투우타   NC
5  6.0   모창민_1985-05-08   1루수  우투우타   NC
6  7.0   노진혁_1989-07-15   유격수  우투좌타   NC
7  8.0   김성욱_1993-05-01   우익수  우투우타   NC
8  9.0   이명기_1987-12-26   좌익수  좌투좌타   NC
9  NaN  루친스키_1988-12-30    투수  우투우타   NC

In [34]:
for i, name in enumerate(lineup_nc['이름']):
    lineup_nc['name'][i] = name.split('_')[0]

C:\Users\miran\AppData\Local\Temp\ipykernel_5136\3000670592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lineup_nc['name'][i] = name.split('_')[0]

In [37]:
#엔트리에서 감독, 코치 제거
player_nc = entry[(entry['team']=='NC') & (entry['구분']!='감독') & (entry['구분']!='코치')]

In [39]:
lineup_nc[lineup_nc['포지션']=='투수']

   타순               이름 포지션    투타 team  name
9 NaN  루친스키_1988-12-30  투수  우투우타   NC  루친스키

In [45]:
player_nc.drop('선발투수', axis=1, inplace=True)

C:\Users\miran\AppData\Local\Temp\ipykernel_5136\2456009967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_nc.drop('선발투수', axis=1, inplace=True)

In [46]:
player_nc['선발투수'] = np.where()

     등번호    이름  투타유형        생년월일            체격   구분 team
9   12.0   라이트  우투우타  1990-01-03   198cm, 97kg   투수   NC
10  24.0   김건태  우투우타  1991-10-02   185cm, 85kg   투수   NC
11  30.0   박진우  우언우타  1990-02-12   180cm, 83kg   투수   NC
12  38.0   임정호  좌투좌타  1990-04-16   188cm, 90kg   투수   NC
13  40.0  루친스키  우투우타  1988-12-30   188cm, 91kg   투수   NC
14  45.0   임창민  우투우타  1985-08-25   183cm, 85kg   투수   NC
15  46.0   원종현  우언우타  1987-07-31   182cm, 83kg   투수   NC
16  59.0   구창모  좌투좌타  1997-02-17   183cm, 85kg   투수   NC
17  61.0   배재환  우투우타  1995-02-24   186cm, 95kg   투수   NC
18  68.0   강윤구  좌투좌타  1990-07-10   183cm, 89kg   투수   NC
19  25.0   양의지  우투우타  1987-06-05   179cm, 85kg   포수   NC
20  42.0   김태군  우투우타  1989-12-30   182cm, 92kg   포수   NC
21   2.0   박민우  우투좌타  1993-02-06   185cm, 80kg  내야수   NC
22   5.0   김찬형  우투우타  1997-12-29   182cm, 80kg  내야수   NC
23   7.0   이상호  우투우타  1989-02-05   180cm, 82kg  내야수   NC
24  16.0   모창민  우투우타  1985-05-08   188cm, 89kg  내야수   NC
25  18.0   박석민  우투우타  1985-06-22   178cm, 88kg  내야수   NC
26  19.0   김태진  우투좌타  1995-10-07   170cm, 75kg  내야수   NC
27  32.0   이원재  우투좌타  1989-05-20   186cm, 86kg  내야수   NC
28  52.0   노진혁  우투좌타  1989-07-15   184cm, 80kg  내야수   NC
29  64.0   최정원  우투좌타  2000-06-24   176cm, 70kg  내야수   NC
30   1.0   김준완  우투좌타  1991-01-20   174cm, 75kg  외야수   NC
31  23.0   알테어  우투우타  1991-01-14   196cm, 97kg  외야수   NC
32  31.0   김성욱  우투우타  1993-05-01   181cm, 83kg  외야수   NC
33  33.0   이명기  좌투좌타  1987-12-26   183cm, 87kg  외야수   NC
34  36.0   권희동  우투우타  1990-12-30   177cm, 85kg  외야수   NC
35  47.0   나성범  좌투좌타  1989-10-03  183cm, 100kg  외야수   NC
36  49.0   강진성  우투우타  1993-10-19   180cm, 81kg  외야수   NC